* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255, 255, 255);
    padding: 15px 20px; 
}

.logo {
    background: rgb(255, 255, 255);
    color: black;
    text-decoration: none;
    font-size: larger;
}

.logo-image {
    width: 90px;
}

.navbar {
    display: flex;
    margin-top: 20px; /* Adjust margin as needed */
}

.navbar li {
    list-style-type: none;
    margin: 0 10px; /* Adjust margin as needed */
}

.navbar a {
    text-decoration: none;
    color: #000000;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #ffffff;
}


.top-image {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/tables.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 20vh 0;
    
}

.top-image h1 {
    color: white;
    margin-bottom: 20px;
}

.top-image a {
    margin-top: 30px;
    color: white;
    text-decoration: none;
}




footer {
    padding: 10px 0;
    background: rgb(255, 255, 255);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.links {
    display: flex;
    justify-content: center; 
}


.links .social {
    display: flex;
    justify-content: center; 
}

.links .social a {
    height: 40px;
    width: 40px;
    background: #cdcbcb;
    color: #c02222;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 50%;
    transition: .4s;
    text-decoration: none;
    margin: 0 5px; 
}

.links .social a:hover {
    transform: scale(1.2);
    color: #9e0000;
    background: #f9f9f9;
}